/* html {
  height: 100%;
} */
body {
  background-color: #2f3035;
  background-image: url(images/background-adare-restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  height: 100%;
}

header {
  height: 118px;
  /* background-color: #0b2027; */
  text-align: center;
}
nav {
  background-color: rgba(17, 17, 17, 0.432);
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}
main {
  height: auto;
  margin-top: 80px;
  padding-top: 50px;
  padding-left: 140px;
  padding-right: 140px;
  padding-bottom: 80px;
  /* background-color: #70a9a1; */
  text-align: center;
}
footer {
  /* height: 80px; */
  background-color: #cfd7c7;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(17, 17, 17, 0.459);
  color: #cfd7c7;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 84px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-size: 18px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: normal;
}
a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

nav a {
  text-decoration: none;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
iframe{
  border-radius: 5px;
}
.maps{
 padding-bottom: 30px;
}